* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/static/Montserrat-Regular.ttf");
  font-family: "Montserrat-bold";
  src: url("../fonts/montserrat/static/Montserrat-Bold.ttf");
  font-family: "Montserrat-bold";
  src: url("../fonts/montserrat/");
  font-family: "Montserrat-variable";
  src: url("../fonts/montserrat/Montserrat-VariableFont_wght.ttf");
}
@media screen and (max-width: 752px) {
  header .nav ul {
    display: none;
  }
  header .nav .burger {
    display: block;
  }
  .header-second {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .header-second .socials {
    display: none;
  }
}
.fa-solid {
  color: rgb(51, 51, 51);
}

.burger {
  display: none;
  width: 1rem;
}
.burger .fa-bars {
  font-size: 1rem;
  color: white;
}
.burger:hover {
  cursor: pointer;
}

.fa-phone {
  color: rgb(51, 51, 51);
}

.icons__block .fa-telegram {
  color: #0088cc;
}
.icons__block .fa-vk {
  color: #45668e;
}
.icons__block .fa-odnoklassniki {
  color: #ed812b;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border-radius: 10%;
}

html {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: "Montserrat-variable";
}

body {
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  flex: 1 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

header {
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: white;
  padding: 1rem;
  background-color: rgb(51, 51, 51);
}
header a {
  color: white;
}

.nav ul {
  list-style: none;
}
.nav ul li {
  display: inline-block;
  margin: 0 0.5rem;
}
.nav ul li:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

footer {
  width: 100%;
  text-align: left;
  padding: 1rem;
  background: rgb(51, 51, 51);
  color: white;
}

main {
  height: 100%;
  width: 100%;
  margin-top: 3.1rem;
  overflow-y: scroll;
}

.header-second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 20%;
  gap: 0.5rem;
  padding: 1rem 10rem;
  border-bottom: 0.1rem solid rgb(225, 225, 225);
  background-color: rgb(249, 249, 249);
}

.logo__container {
  width: 12rem;
  height: 12rem;
}
.logo__container img {
  width: 12rem;
  height: 12rem;
}

.phone__number {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  align-items: center;
  gap: 0.2rem;
  white-space: nowrap;
}
.phone__number .phone__actions {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  font-size: 1.5rem;
}
.phone__number .phone__actions a {
  color: #666666;
  font-weight: 300;
  text-decoration: underline;
}

.socials {
  display: flex;
  flex-direction: column;
  color: rgb(51, 51, 51);
  font-size: 2rem;
  white-space: nowrap;
}
.socials h2 {
  font-size: 1.5rem;
  padding-bottom: 0.4rem;
}
.socials .icons__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1.5rem 3rem;
}

.advertising {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-self: center;
  height: 10rem;
  background: rgb(255, 210, 0);
  padding: 2rem 2rem;
  user-select: none;
  margin: 0 5%;
}
.advertising h2 {
  font-family: "Montserrat-variable";
  font-size: 3rem;
}
.advertising p {
  text-transform: uppercase;
  font-family: "Montserrat-variable";
  font-size: 1.7rem;
  font-weight: 600;
}
.advertising .advertising__left__cont {
  width: 80%;
}
.advertising .advertising__right__cont {
  display: flex;
  justify-content: center;
  width: 20%;
  text-align: center;
}
.advertising .advertising__right__cont p {
  font-weight: 400;
}

.pricing {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  justify-content: center;
  align-items: center;
}
.pricing h2 {
  text-align: center;
  font-size: 2rem;
}
.pricing .pricing__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pricing .pricing__date {
  background: rgb(255, 210, 0);
  height: 2em;
  width: 10rem;
}
.pricing .pricing-tab {
  display: grid;
  grid-template-rows: 1fr 9fr;
  width: 72%;
  height: 40rem;
  border: 0.2rem solid rgb(225, 225, 225);
  margin-top: 1.5rem;
}
.pricing .pricing-tab__row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  gap: 0.3rem;
  border-bottom: 0.1rem solid rgb(225, 225, 225);
}
.pricing .pricing-tab__row1:hover {
  background-color: rgb(249, 249, 249);
}
.pricing .pricing-tab__row1 .pricing__category {
  padding: 0 0.3em;
  height: 100%;
  border: 0.1rem solid rgb(225, 225, 225);
  border-radius: 5%;
  font-weight: 300;
  font-size: 1.2rem;
}
.pricing .pricing-tab__row1 .pricing__category:hover {
  background-color: white;
  cursor: pointer;
}
.pricing .pricing-tab__row2 {
  display: grid;
  grid-template-columns: repeat(1fr, 5);
  grid-template-rows: repeat(1fr, 6);
  margin: 0.5rem 1rem;
}
.pricing .pricing-tab__row2 .fuel__type {
  border-bottom: 0.1rem solid rgb(225, 225, 225);
}
.pricing .pricing-tab__row2 .fuel__type--last {
  border-bottom: 0;
}
.pricing .pricing-tab__row2 .fuel__type--last:hover {
  background-color: rgb(249, 249, 249);
}
.pricing .pricing-tab__row2 .fuel__type:hover {
  background-color: rgb(249, 249, 249);
}
.pricing .pricing-tab__row2 .fuel__params {
  display: grid;
  grid-template-columns: 1fr;
}/*# sourceMappingURL=style.css.map */