* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/static/Montserrat-Regular.ttf");
  font-family: "Montserrat-bold";
  src: url("../fonts/montserrat/static/Montserrat-Bold.ttf");
  font-family: "Montserrat-variable";
  src: url("../fonts/montserrat/Montserrat-VariableFont_wght.ttf");
}
@media screen and (max-width: 752px) {
  .burger-menu {
    display: flex;
  }
  .header-first .nav ul {
    display: none;
  }
  .header-first .nav .burger__wrapper {
    display: block;
  }
  .header-second {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .header-second .socials {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .header-second {
    flex-direction: column;
  }
}
.fa-solid {
  color: rgb(51, 51, 51);
}

.burger__wrapper {
  display: none;
  width: 1rem;
}
.burger__wrapper .fa-bars {
  font-size: 1rem;
  color: white;
}
.burger__wrapper:hover {
  cursor: pointer;
}

.fa-phone {
  color: rgb(51, 51, 51);
}

.icons__block .fa-telegram {
  color: #0088cc;
}
.icons__block .fa-vk {
  color: #45668e;
}
.icons__block .fa-odnoklassniki {
  color: #ed812b;
}

.fa-droplet {
  font-size: 1.5rem;
}

.fa-oil-well {
  color: rgb(51, 51, 51);
  font-size: 4rem;
}

.fa-circle-check {
  color: rgb(51, 51, 51);
  font-size: 4rem;
}

.fa-truck-fast {
  color: rgb(51, 51, 51);
  font-size: 4rem;
}

.fa-globe {
  color: rgb(51, 51, 51);
  font-size: 4rem;
}

.fa-location-dot {
  color: rgb(51, 51, 51);
  font-size: 4rem;
}

.fa-youtube {
  color: red;
  font-size: 2rem;
}

.fa-xmark {
  color: white;
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border-radius: 10%;
}

html {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: "Montserrat-variable";
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  color: black;
  width: 100%;
  height: 100%;
  font-size: 14px;
  flex: 1 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
body .banner__body {
  position: absolute;
  width: 22.2rem;
  height: 25.7rem;
  left: -100rem;
  bottom: 15vh;
  animation: slideIn 0.7s forwards;
  animation-delay: 1s;
  z-index: 2;
}
@keyframes slideIn {
  from {
    left: -100rem;
  }
  to {
    left: 0;
  }
}
body .banner__body a {
  display: block;
  width: 100%;
  height: 100%;
}
body .banner__body .close {
  position: absolute;
  top: 2%;
  left: 93%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
@media screen and (max-width: 752px) {
  body .banner__body {
    display: none;
  }
}
body .banner__body--close {
  animation: slideOut 0.7s forwards;
}
@keyframes slideOut {
  from {
    left: 0;
  }
  to {
    left: -100rem;
    display: none;
  }
}

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 2;
  justify-content: center;
  width: 100%;
  color: white;
  padding: 1rem;
  background-color: rgb(51, 51, 51);
}
header a {
  color: white;
}

.nav ul {
  list-style: none;
}
.nav ul li {
  display: inline-block;
  margin: 0 0.5rem;
}
.nav ul li:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.footer {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  text-align: left;
  padding: 1rem;
  background: rgb(51, 51, 51);
  color: white;
  min-width: fit-content;
}
.footer .footer__container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: min-content;
  max-height: max-content;
}
.footer .footer__container .footer-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 0.1rem solid rgb(225, 225, 225);
  margin-top: 2rem;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
  min-width: min-content;
  max-height: max-content;
}
.footer .footer__container .footer-header .button__container {
  display: flex;
  gap: 0.5rem;
}
.footer .footer__container .footer-header .button__container button {
  width: 18rem;
  height: 3.5rem;
  min-width: min-content;
  max-height: max-content;
  border-radius: 0.5rem;
  text-transform: uppercase;
  background-color: rgb(255, 210, 0);
  font-weight: 700;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
}
.footer .footer__container .footer-header .button__container button:hover {
  background-color: #ffdb33;
  transition: 0.2s;
}
.footer .footer__container .footer-header .contact-us {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.footer .footer__container .footer-header .contact-us a {
  color: white;
  font-size: 1.9rem;
  font-weight: 700;
}
.footer .footer__container .footer-header .contact-us .email__link a {
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: underline;
}
.footer .footer__container .footer-header .tg__link a {
  color: white;
  font-size: 2.5rem;
}
.footer .footer__container .footer-header .tg__link a .fa-telegram {
  color: white;
}
.footer .footer__container .footer-lists {
  display: flex;
  gap: 10rem;
  width: 100%;
  flex-direction: row;
  padding: 3rem 1.5rem;
}
.footer .footer__container .footer-lists .list__column ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer .footer__container .footer-lists .list__column li {
  list-style: none;
  color: white;
  text-transform: uppercase;
}
.footer .footer__container .footer-lists .list__column li a {
  font-size: 1rem;
  color: white;
}
.footer .footer__container .footer-lists .list__column li a:hover {
  text-decoration: underline;
}
.footer .footer__container .footer-lists .list__column li .list__header {
  color: #cccccc;
  font-size: 1rem;
}
.footer .footer__container .footer-lists .list__column li .list__header:hover {
  text-decoration: underline;
  color: white;
}
.footer .footer__container .footer-lists .list__column li .list__header2 {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}
.footer .footer__container .footer-lists .list__column li .list__header2:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1400px) {
  .footer .footer__container .footer-header {
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer .footer__container .footer-header .button__container {
    flex-direction: column;
  }
  .footer .footer__container .footer-header .contact-us {
    flex-direction: column;
    gap: 0.5rem;
  }
  .footer .footer__container .footer-lists {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
  }
}
.burger-menu {
  display: none;
  position: fixed;
  flex-direction: column;
  background-color: rgb(51, 51, 51);
  width: 90vw;
  height: 100vh;
}

main {
  height: 100%;
  width: 100%;
  margin-top: 3.1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header-second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 20%;
  gap: 0.5rem;
  padding: 1rem 10rem;
  border-bottom: 0.1rem solid rgb(225, 225, 225);
  background-color: rgb(249, 249, 249);
}

.logo__container {
  width: 12rem;
  height: 12rem;
}
.logo__container img {
  width: 12rem;
  height: 12rem;
}

.phone__number {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  align-items: center;
  gap: 0.2rem;
  white-space: nowrap;
}
.phone__number .phone__actions {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  font-size: 1.5rem;
}
.phone__number .phone__actions a {
  color: #666666;
  font-weight: 300;
  text-decoration: underline;
}

.burger__wrapper {
  display: none;
  flex-direction: column;
  width: auto;
  height: 100%;
  width: 100%;
}
.burger__wrapper .burger {
  position: relative;
}
.burger__wrapper .burger__button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.socials {
  display: flex;
  flex-direction: column;
  color: rgb(51, 51, 51);
  font-size: 2rem;
  white-space: nowrap;
}
.socials h2 {
  font-size: 1.5rem;
  padding-bottom: 0.4rem;
}
.socials .icons__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1.5rem 3rem;
}

.advertising {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-self: center;
  min-height: 10rem;
  max-height: fit-content;
  background: rgb(255, 210, 0);
  padding: 2rem 2rem;
  user-select: none;
  margin: 0 5%;
  flex-shrink: 0;
}
.advertising h2 {
  font-family: "Montserrat-variable";
  font-size: 3rem;
}
.advertising p {
  text-transform: uppercase;
  font-family: "Montserrat-variable";
  font-size: 1.7rem;
  font-weight: 600;
}
.advertising .advertising__left__cont {
  width: 80%;
  max-width: 100%;
}
.advertising .advertising__right__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  text-align: center;
}
.advertising .advertising__right__cont p {
  font-weight: 400;
}

@media screen and (max-width: 1252px) {
  .advertising {
    flex-direction: column;
    align-items: center;
  }
  .advertising__left__cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .advertising__left__cont h2 {
    font-size: 2rem;
    text-align: center;
  }
  .advertising__left__cont p {
    font-size: 1.4rem;
    text-align: center;
  }
  .advertising__right__cont {
    display: flex;
    width: 100%;
  }
  .advertising__right__cont p {
    font-size: 1rem;
  }
}
.pricing {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  justify-content: center;
  align-items: center;
}
.pricing h2 {
  text-align: center;
  font-size: 2rem;
}
.pricing .pricing__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pricing .pricing__date {
  background: rgb(255, 210, 0);
  font-size: 2rem;
  font-weight: 500;
  padding: 0 0.5rem;
}
.pricing .pricing-tab {
  display: grid;
  grid-template-rows: 1fr 9fr;
  max-width: 72%;
  min-width: fit-content;
  max-height: 100%;
  border: 0.2rem solid rgb(225, 225, 225);
  margin-top: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgb(202, 202, 202);
}
.pricing .pricing-tab__row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.3rem;
  border-bottom: 0.1rem solid rgb(225, 225, 225);
}
.pricing .pricing-tab__row1:hover {
  background-color: rgb(249, 249, 249);
}
.pricing .pricing-tab__row1 .pricing__category {
  padding: 0 0.3em;
  height: 100%;
  border: 0.1rem solid rgb(225, 225, 225);
  border-radius: 5%;
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.pricing .pricing-tab__row1 .pricing__category:hover {
  background-color: #ffdb33;
  transition-property: background-color;
  transition-duration: 0.2s;
  cursor: pointer;
}
.pricing .pricing-tab__row2 {
  display: grid;
  grid-template-rows: 10fr repeat(5, 25fr);
  margin: 0rem 1rem 0.5rem 1rem;
}
.pricing .pricing-tab__row2 .fuel__type--header {
  display: grid;
  grid-template-columns: 100fr repeat(2, 130fr 100fr);
}
.pricing .pricing-tab__row2 .fuel__type--header .fuel__spec, .pricing .pricing-tab__row2 .fuel__type--header .fuel__spec--last {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  text-align: center;
  border-right: 0.1rem solid rgb(225, 225, 225);
  border-bottom: 0.1rem solid rgb(225, 225, 225);
}
.pricing .pricing-tab__row2 .fuel__type--header .fuel__spec--last {
  border-right: none;
}
.pricing .pricing-tab__row2 .fuel__type, .pricing .pricing-tab__row2 .fuel__type--last {
  display: grid;
  grid-template-columns: 100fr repeat(2, 130fr 100fr);
}
.pricing .pricing-tab__row2 .fuel__type:hover, .pricing .pricing-tab__row2 .fuel__type--last:hover {
  background-color: rgb(249, 249, 249);
}
.pricing .pricing-tab__row2 .fuel__type__element, .pricing .pricing-tab__row2 .fuel__type__element--priceliter, .pricing .pricing-tab__row2 .fuel__type__element--density, .pricing .pricing-tab__row2 .fuel__type__element--date, .pricing .pricing-tab__row2 .fuel__type__element--priceton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 0.1rem solid rgb(225, 225, 225);
}
.pricing .pricing-tab__row2 .fuel__type__element--priceton {
  font-weight: 500;
}
.pricing .pricing-tab__row2 .fuel__type__element--density {
  font-size: 1.2rem;
  font-weight: 600;
}
.pricing .pricing-tab__row2 .fuel__type__element--priceliter {
  font-weight: 500;
  font-size: 1.1rem;
}
.pricing .pricing-tab__row2 .fuel__type--last .fuel__type__element, .pricing .pricing-tab__row2 .fuel__type--last .fuel__type__element--priceton, .pricing .pricing-tab__row2 .fuel__type--last .fuel__type__element--date, .pricing .pricing-tab__row2 .fuel__type--last .fuel__type__element--density, .pricing .pricing-tab__row2 .fuel__type--last .fuel__type__element--priceliter {
  border-bottom: 0;
}
.pricing .contact__manager {
  margin-top: 2rem;
  padding: 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(255, 210, 0);
  border: 0.1rem solid rgb(225, 225, 225);
  border-radius: 0.3rem;
  transition-property: color, background-color;
  transition: 0.2s;
}
.pricing .contact__manager:hover {
  background-color: #ffdb33;
  color: rgb(51, 51, 51);
  transition: 0.2s;
}

.advert-delivery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.advert-delivery .banner {
  display: flex;
  flex-direction: row;
  background-color: rgb(51, 51, 51);
  height: 20rem;
  width: 90%;
  padding: 2rem;
  gap: 1rem;
  min-width: 0;
  max-height: max-content;
  overflow-x: hidden;
}
.advert-delivery .banner .slider {
  display: flex;
  width: 50%;
  overflow: hidden;
}
.advert-delivery .banner .slider .slider__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.advert-delivery .banner .slider .slider__wrapper .slide1 {
  width: 100%;
  height: 100%;
}
.advert-delivery .banner .slider .slider__wrapper .slide1 .red {
  width: 100%;
  height: 100%;
  background-color: red;
}
.advert-delivery .banner .slider .slider__wrapper .slide2 {
  width: 100%;
  height: 100%;
}
.advert-delivery .banner .slider .slider__wrapper .slide2 .blue {
  height: 100%;
  width: 100%;
  background-color: blue;
}
.advert-delivery .banner .slider .slider__wrapper {
  width: 100%;
}
@media screen and (max-width: 1400px) {
  .advert-delivery .banner {
    flex-direction: column;
    align-items: center;
  }
}
.advert-delivery .delivery-destination {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  min-width: min-content;
  max-height: max-content;
  margin-top: 1rem;
  background-color: rgb(51, 51, 51);
  padding: 1.5rem;
}
.advert-delivery .delivery-destination .delivery__header {
  display: flex;
  width: 20%;
  align-items: center;
  border-right: 0.2rem solid rgb(255, 210, 0);
  padding-right: 1rem;
}
.advert-delivery .delivery-destination .delivery__header h3 {
  color: rgb(255, 210, 0);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}
.advert-delivery .delivery-destination .delivery__header h3 span {
  font-weight: 700;
}
.advert-delivery .delivery-destination .delivery__form {
  display: flex;
  width: 80%;
  align-items: center;
  padding-left: 1rem;
  gap: 0.4rem;
}
.advert-delivery .delivery-destination .delivery__form select {
  height: 3rem;
  width: 20rem;
  border-radius: 0.3rem;
}
.advert-delivery .delivery-destination .delivery__form button {
  height: 3rem;
  width: 20rem;
  border-radius: 0.3rem;
  background-color: rgb(255, 210, 0);
  border: 0.1rem solid rgb(51, 51, 51);
  cursor: pointer;
  transition-property: color, background-color;
  transition: 0.2s;
}
.advert-delivery .delivery-destination .delivery__form button:hover {
  background-color: #ffdb33;
  color: rgb(51, 51, 51);
  transition: 0.2s;
}

@media screen and (max-width: 1060px) {
  .advert-delivery .delivery-destination {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .advert-delivery .delivery-destination .delivery__header {
    width: 100%;
    border-right: 0;
    padding-bottom: 1rem;
    padding-right: 0;
    justify-content: center;
    align-items: center;
  }
  .advert-delivery .delivery-destination .delivery__header h3 {
    border-bottom: 0.2rem solid rgb(255, 210, 0);
    text-align: center;
    padding-bottom: 1rem;
  }
  .advert-delivery .delivery-destination .delivery__form {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
.tips {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 3rem;
}
.tips__wrapper {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  gap: 2%;
  margin-bottom: 3rem;
}
.tips__wrapper .tip__element {
  display: flex;
  flex-direction: row;
  width: 25%;
  align-items: center;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgb(202, 202, 202);
  border: 0.1rem solid rgb(225, 225, 225);
  transition: 0.2s;
  border-radius: 0.3rem;
  padding: 2rem;
}
.tips__wrapper .tip__element span {
  padding-left: 2rem;
  font-weight: 600;
  color: rgb(51, 51, 51);
}
.tips__wrapper .tip__element:hover {
  transition: 0.2s;
  background-color: rgb(255, 210, 0);
}
.tips .banner-section2 {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 10rem;
  background-color: white;
  gap: 2%;
}
.tips .banner-section2 .tip__banner {
  height: 100%;
  width: 50%;
  background-color: blue;
}

@media screen and (max-width: 1527px) {
  .tips__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: fit-content;
  }
  .tips__wrapper .tip__element {
    min-width: fit-content;
    width: 100%;
  }
  .tips__wrapper .tip__element span {
    text-align: center;
  }
  .info .info-container .banner-area .banner__info .banner__content, .info .info-container .banner-area .banner__info--fuel .banner__content {
    text-align: center;
  }
  .info .info-container .banner-area .banner__info .banner__content a, .info .info-container .banner-area .banner__info--fuel .banner__content a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.info .info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.info .info-container .banner-area {
  display: flex;
  width: 90%;
  flex-direction: row;
  gap: 2%;
  padding-bottom: 1.5rem;
}
.info .info-container .banner-area .banner__info, .info .info-container .banner-area .banner__info--fuel {
  display: flex;
  width: 50%;
  min-height: 10rem;
  background-color: rgb(51, 51, 51);
  padding: 2rem;
  min-width: min-content;
  max-height: max-content;
}
.info .info-container .banner-area .banner__info .banner__content, .info .info-container .banner-area .banner__info--fuel .banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  min-width: min-content;
  max-height: max-content;
}
.info .info-container .banner-area .banner__info .banner__content h3, .info .info-container .banner-area .banner__info--fuel .banner__content h3 {
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
}
.info .info-container .banner-area .banner__info .banner__content p, .info .info-container .banner-area .banner__info--fuel .banner__content p {
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}
.info .info-container .banner-area .banner__info--fuel .banner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info .info-container .banner-area .banner__info--fuel .banner__content a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  text-align: center;
}
.info .info-container .banner-area .banner__info--fuel .banner__content h3 {
  font-weight: 700;
}
.info .info-container .banner-area .banner__info--fuel .banner__content p {
  font-weight: 400;
  text-align: center;
}
.info .info-container .banner__info--taneko {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  min-height: 5rem;
  background-color: rgb(1, 65, 39);
  padding: 1.5rem 1.5rem;
  min-width: min-content;
  max-height: max-content;
  margin-bottom: 3rem;
}
.info .info-container .banner__info--taneko a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.info .info-container .banner__info--taneko a p {
  color: rgb(253, 184, 62);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}
.info .info-container .banner__info--taneko a p span {
  font-weight: 700;
}
.info .info-container .banner__info--taneko a .tracking {
  font-weight: 400;
  font-size: 1rem;
  color: #028c54;
}
@media screen and (max-width: 870px) {
  .info .info-container .banner__info--taneko a {
    flex-direction: column;
  }
  .info .info-container .banner__info--taneko a p {
    text-align: center;
  }
  .info .info-container .banner__info--taneko a .tracking {
    padding-top: 0.5rem;
  }
}
.info .news {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 10%;
  margin-bottom: 3rem;
}
.info .news-col1, .info .news-col2 {
  display: flex;
  flex-direction: column;
  width: 45%;
  min-width: min-content;
  max-height: max-content;
}
.info .news-col1 h2, .info .news-col2 h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.info .news-col1 ul, .info .news-col2 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info .news-col1 ul li, .info .news-col2 ul li {
  font-size: 1.2rem;
}
.info .news-col1 ul li::before, .info .news-col2 ul li::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f14a";
  margin-right: 0.5rem;
  font-size: 1.7rem;
}
.info .news-col1 p, .info .news-col2 p {
  padding: 3rem 0;
  font-weight: 600;
  font-size: 1.5rem;
}
.info .news-col2 h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.info .news-col2 .news__container {
  display: flex;
  flex-direction: row;
  border-bottom: 0.1rem solid rgb(225, 225, 225);
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  align-items: center;
  gap: 2rem;
}
.info .news-col2 .news__container .news__date {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
}
.info .news-col2 .news__container .news__date span {
  font-size: 1.2rem;
}
.info .news-col2 .news__container .date__year {
  font-size: 1.2rem;
  font-weight: 700;
}
.info .news-col2 .news__container .news__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.info .news-col2 .news__container .news__content a {
  color: rgb(51, 51, 51);
}
.info .news-col2 .news__container .news__content p {
  padding: 0;
  font-weight: 400;
}
.info .certification__area {
  display: flex;
  flex-direction: row;
  min-width: min-content;
  max-height: max-content;
  width: 90%;
  height: 10rem;
  border: 0.1rem solid rgb(225, 225, 225);
  margin-bottom: 1.5rem;
}
.info .delivery-destination {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  min-width: min-content;
  max-height: max-content;
  background-color: rgb(51, 51, 51);
  padding: 1.5rem;
  margin-bottom: 3rem;
}
.info .delivery-destination .delivery__header {
  display: flex;
  width: 20%;
  align-items: center;
  border-right: 0.2rem solid rgb(255, 210, 0);
  padding-right: 1rem;
}
.info .delivery-destination .delivery__header h3 {
  color: rgb(255, 210, 0);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}
.info .delivery-destination .delivery__header h3 span {
  font-weight: 700;
}
.info .delivery-destination .delivery__form {
  display: flex;
  width: 80%;
  align-items: center;
  padding-left: 1rem;
  gap: 0.4rem;
}
.info .delivery-destination .delivery__form select {
  height: 3rem;
  width: 20rem;
  border-radius: 0.3rem;
}
.info .delivery-destination .delivery__form button {
  height: 3rem;
  width: 20rem;
  border-radius: 0.3rem;
  background-color: rgb(255, 210, 0);
  border: 0.1rem solid rgb(51, 51, 51);
  cursor: pointer;
  transition-property: color, background-color;
  transition: 0.2s;
}
.info .delivery-destination .delivery__form button:hover {
  background-color: #ffdb33;
  color: rgb(51, 51, 51);
  transition: 0.2s;
}

@media screen and (max-width: 1527px) {
  .info .info-container .banner-area {
    flex-direction: column;
    gap: 1rem;
  }
  .info .info-container .banner-area .banner__info, .info .info-container .banner-area .banner__info--fuel {
    width: 100%;
  }
  .info .news {
    flex-direction: column;
    align-items: center;
  }
  .info .news-col1, .info .news-col2 {
    align-items: center;
  }
  .info .news-col1 h2, .info .news-col2 h2 {
    text-align: center;
  }
  .info .news-col1 p, .info .news-col2 p {
    text-align: center;
  }
  .info .news-col1 li, .info .news-col2 li {
    text-align: center;
  }
  .info .news-col2 .news__container {
    flex-direction: column;
    gap: 0;
  }
  .info .news-col2 .news__container .news__date {
    flex-direction: row;
    border-bottom: 0.1rem solid rgb(225, 225, 225);
    padding-bottom: 1rem;
  }
  .info .news-col2 .news__container .news__content {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 1060px) {
  .info .delivery-destination {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .info .delivery-destination .delivery__header {
    width: 100%;
    border-right: 0;
    padding-bottom: 1rem;
    padding-right: 0;
    justify-content: center;
  }
  .info .delivery-destination .delivery__header h3 {
    border-bottom: 0.2rem solid rgb(255, 210, 0);
    text-align: center;
    padding-bottom: 1rem;
  }
  .info .delivery-destination .delivery__form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
.tags {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-width: min-content;
  max-height: max-content;
  margin-bottom: 3rem;
}
.tags .tags__links {
  margin-bottom: 2rem;
  font-size: 1rem;
}
.tags .tags__links a:hover {
  text-decoration: underline;
}
.tags p {
  text-align: center;
  font-size: 1.2rem;
}
.tags a::after {
  content: " | ";
  color: rgb(51, 51, 51);
}

@media screen and (max-width: 890px) {
  .footer .footer__container .footer-header .contact-us a {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
  }
  ::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    border-radius: 10%;
  }
}/*# sourceMappingURL=style.css.map */