$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "thin": 300
);

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}


$black: rgb(51, 51, 51);
$yellow: rgb(255,210,0);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}