.fa-solid {
    color: $black;
}

.burger__wrapper {
    display: none;
    width: 1rem;

    .fa-bars {
        font-size: 1rem;
        color: white;
    }

    &:hover {
     cursor: pointer;
    }
}

.fa-phone {
    color: $black;
}

.icons__block {
    .fa-telegram {
        color: #0088cc;
    }

    .fa-vk {
        color: #45668e
    }

    .fa-odnoklassniki {
        color: #ed812b
    }
}

.fa-droplet {
    font-size: 1.5rem;
}

.fa-oil-well {
    color: $black;
    font-size: 4rem;
}

.fa-circle-check {
    color: $black;
    font-size: 4rem;
}

.fa-truck-fast {
    color: $black;
    font-size: 4rem;
}

.fa-globe {
    color: $black;
    font-size: 4rem;
}

.fa-location-dot {
    color: $black;
    font-size: 4rem;
}

.fa-youtube {
    color: red;
    font-size: 2rem;
}

.fa-xmark {
    color: white;
    font-size: 1.5rem;
}

.fa-circle-check {
    color: $black;
    font-size: 4rem;
}

.fa-user-secret {
    color: $black;
    font-size: 4rem;
}