@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/static/Montserrat-Regular.ttf");
    font-family: "Montserrat-bold";
    src: url("../fonts/montserrat/static/Montserrat-Bold.ttf");
    font-family: "Montserrat-bold";
    src: url("../fonts/montserrat/");

    font-family: "Montserrat-variable";
    src: url("../fonts/montserrat/Montserrat-VariableFont_wght.ttf");
}


@media screen and (max-width: 752px) {
    header {
        
        .nav {
            ul {
                display: none;
            }

            .burger {
                display: block;
            }
        }
    }

    .header-second {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        .socials {
            display: none;
        }
    }
}