@import "./config";
@import "./media-queries";
@import "./icons";

body {
  background: white;
  color: $text-black;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
}

header {
  position: fixed;
  z-index: 2;
  @include flex-row;
  justify-content: center;
  width: 100%;
  color: white;
  padding: 1rem;
  background-color: black;

  a {
    color: white;
  }
}
.nav {
  ul {
    list-style: none;

    li {
      display: inline-block;
      margin: 0 0.5rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

a {
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0.4rem;
  text-align: left;
  padding: 1rem;
}

